<!DOCTYPE html>
<html>
<head>{% load static %}
<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>邮箱验证</title>
    <script type="text/javascript">
    $(document).ready(function() {
        $("#confirm").click(function() {
            email = $("#email").val().trim();
            if (email == "") return;
            $.post("{% url 'user:confirm' %}", {'email':email})
	    });
	});
    </script>
</head>
<body style="...">
<div class="container-fluid">
	<h2 class="mt-2 mb-2">输入邮箱：</h2>
	<div class="input-group mb-2">
		<textarea id="email" rows="5" class="form-control"></textarea>
	</div>
    <div class="input-group mb-2">
        <button id="confirm" type="button" class="btn btn-primary ml-2">验证</button>
    </div>
</div>
</body>
</html>